#seller {
  padding-top: 6em;
  padding-bottom: 8em;
}

.seller-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: x-large;
}
