@use '../../styles/App';

.navbar {
  display: flex;
  justify-content: center;
  background: white;
  z-index: 9999999;
  opacity: 0.85;
}

#navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: App.$site-font;
  color: black;
  font-size: larger;
  :hover {
    text-decoration: underline;
  }
}

#custom-dropdown:after {
  content: none;
}
#dropdown-family:hover {
  text-decoration: underline;
}

#dropdown-indoor:hover {
  text-decoration: underline;
}

#dropdown-newborn:hover {
  text-decoration: underline;
}
