@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500");

$site-font: "Cormorant Garamond", serif;
body {
  font-family: $site-font;
  font-size: larger;
}

.App {
  background-color: #fbfbfb;
}

.App-header {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.navbar {
  display: flex;
  justify-content: center;
  background: white;
  z-index: 9999999;
  opacity: 0.85;
}

#navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: $site-font;
  color: black;
  font-size: larger;
  :hover {
    opacity: 1;
    text-decoration: underline;
    font-size: x-large;
    transition: 0.1s;
  }
}

.hero-title {
  font-family: $site-font;
  align-self: center;
  margin-left: 2.5em;
}
