@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500");

$site-font: "Cormorant Garamond", serif;
body {
  font-family: $site-font;
  font-size: larger;
}

.App {
  background-color: #fbfbfb;
}

.App-header {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

#hero-section {
  margin-top: 9em;
}
.hero-title {
  font-family: $site-font;
  align-self: center;
  margin-left: 2.5em;
}
