@use '_Variables' as v;
@import "~bootstrap/scss/bootstrap";




body {
  @include v.siteFont;
  font-size: larger;
}

.App {
  background-color: #fbfbfb;
}

.App-header {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}



#hero-section {
  margin-top: 9em;
}
.hero-title {
  font-family: v.$site-font;
  align-self: center;
  margin-left: 2.5em;
}
