#seller {
  padding-top: 10em;
  padding-bottom: 10em;
}

.seller-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 5em;
  font-size: x-large;
}
