.footer-button {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.page-footer {
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
}
