@import "~react-image-gallery/styles/scss/image-gallery.scss";

.carousel-container {
  width: 50%;
}

.carousel-image {
  box-shadow: 3px 3px 20px;
  border-radius: 10px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

.original-image {
  width: 750;
  height: 750;
}

.thumbnail-image {
  width: 75px;
  height: 50px;
}
