@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500");

$site-font: "Cormorant Garamond", serif;

.App {
}

.carousel {
  margin-top: 12.5em;
}

.carousel-image {
  box-shadow: 3px 3px 20px;
  border-radius: 10px;
}

.carousel-slideslow {
}

.App-header {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.navbar {
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.navbar-links {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: $site-font;
  color: black;
}

#hero-section {
  margin-top: 6em;
}

.hero-title {
  font-family: $site-font;
  align-self: center;
  margin-left: 2.5em;
}

.hero-image {
  margin-left: 1.5em;
}
